<!-- Page Header -->
<!-- Set your background image for this header on the line below.background: url('https://media.glassdoor.com/home/hero.jpg'); -->
<header class="about-header" style="background-image: url('/images/sandeep-swarnkar-232582.jpg');">
  <div class="container">
    <div class="row">
      <div>
        <div class="thumbnail">
          <div class="caption">
            <h3>About AblePursuit</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>


<!-- Main container -->
<div class="container" style="margin-top: 20px;">
  <div class="row">
    <div class="mbr-article mbr-article--wysiwyg col-sm-8 col-sm-offset-2">
      <p>Since 2017, AblePursuit has continued the mission to achieve the vision of being a one-of-a-kind reach for customers and the general public worldwide. AblePursuit coordinates a network of communities and develops creative solutions that provide access to information (profiles, values, databases, commentary, trends & forecasts), data enrichment, and data analytics.&nbsp;</p>
      <blockquote>
        <em>
          <b>Industry:</b> Communication Technology <br>
          <b>Target:</b> Promoting all-inclusive businesses, which are economic, social & eco-friendly. <br>
          <b>Motivation:</b> the Sustainable Development Goals&nbsp; <br>
        </em>
      </blockquote>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">

        <div><img class="mbr-figure__img" src="http://ablepursuit.com/wp-content/uploads/2017/03/ablepursuit.com-i17.png"></div>
        <figcaption class="mbr-figure__caption">
          <small class="mbr-figure__caption-small">What are the Sustainable Development global goals? How can businesses &amp; personalities take part? </small>
        </figcaption>
      </figure>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 entry-content">
      <p><strong>Goal 1: No Poverty</strong>
        <br> End poverty in all its forms everywhere. Access to basic services. Social inclusion of people in all locations, nations &amp; regions. Public participation of people in decision-making. Collective &amp; comprehensive approach towards ending poverty, in relation to all political, economic &amp; social aspects.
        <br>
        <em>You should be your family’s &amp; friend’s keeper by sharing &amp; investing in what you can.</em>
      </p>
      <p><strong>Goal 2: Zero Hunger</strong>
        <br> Achieve food security and improved nutrition through climate-smart agriculture, fisheries &amp; forestry. Promote growth of diversified crops like cassava, pulses, wheat, vegetables &amp; root crops to alternate shortage of others like maize. Recover lost production of industrial crops like coffee, tea, cotton, cocoa, sorghum, barley, kenaff &amp; flowers. Ensure &amp; preserve growth of fruits suitable for different topographic conditions. Promote livestock keeping, fisheries and apiaries (bees) to supply by-products that increase nutrition. Every farmer should properly utilize land, water, energy and the products to maximize supply to the market. Every one who processes/sells farm products should do so in a manner to reduce waste of food. All in all, ensure that all these practices reduce carbon emissions.
        <br>
        <em>You should produce food, whether in a container, on air or on land, doesn’t matter the size.</em>
      </p>
      <p><strong>Goal 3: Good health &amp; well-being</strong>
        <br> Continue reducing maternal mortality (50% reduction so far). Continue providing antenatal care. Continue providing vaccination against measles, polio &amp; others. Continue promoting acceptable family planning methods. Continue reducing HIV/AIDS infections and developing treatment for the infected. Continue improving right treatment for fever, asthma, diabetes, tuberculosis, pneumonia, malaria, cancer and heart related diseases. Continue saving money to access better healthcare through insurance.
        <br>
        <em>You should maintain good personal care, hygiene, behavior and lifestyle to overcome stressful conditions related to global changes.</em>
      </p>
      <p><strong>Goal 4: Quality education</strong>
        <br> Improve aid for education to war-torn countries and the developing world. Redefine equality so every one has the freedom to pursue learning with a sense of purpose. Move towards personalizing local-to-global education, so every one can learn. Improve the mindset of every learner on the purpose for education. Contextualize learning from a local-to-global perspective, based on current trends. Utilize technology as a tool for continuous learning; less examinations, more personal-to-social development. Promote teachers as facilitators and mentors of formative learning. Abolish summative assessments. Create content that informs about local issues surrounding politics, economics, society, technology, environment, and legal in relation to the global context.
        <br>
        <em>You should take liberty to teach and learn something new, at least once a day.</em>
      </p>
      <p><strong>Goal 5: Gender Equality</strong>
        <br> Close gender gap at workplaces to increase global economy by at least $5.8 trillion. Ensure equal access of women and men to basic commodities and services. Address gender disparities in countries with unfavorable cultures and violence against women. Motivate women and girls to participate in community development projects, from local-to-global perspectives. Empower women and girls in their initiatives to promote development. Contextualize sectors believed to belong to men, to suit women too.
        <br>
        <em>You should play equal roles as brothers and sisters, mothers and fathers in the house and beyond.</em>
      </p>
      <p><strong>Goal 6: Clean water &amp; Sanitation</strong>
        <br> Reserve and increase water sources and access to more households. Conserve river water basins and swampy areas by avoiding farming activities &amp; instead planting indigenous trees round them. Utilize efficient irrigation methods, instead of rainfall. Construct dams, tanks &amp; aquifers to harvest more rain water. Develop better ways to curb soil-erosion. Divert water to alternative sources in case of overflow during heavy downpour. Prevent pollution of water sources. Innovate ways to filter &amp; rid off germs and fluoride to prevent all sorts of water-borne diseases and conditions like arthritis. Build and maintain communal latrines or toilets in all densely populated areas. Conserve and utilize dams as renewable sources of energy, in addition to solar and wind. Reduce the amount of water usage in households and recycle what you can into good use.
        <br>
        <em>You should prevent wasting tap water as much as possible but always filter or boil water to drink.</em>
      </p>
      <p><strong>Goal 7: Affordable &amp; Clean energy</strong>
        <br> Promote innovation of better tools for lighting, heating and charging that are dependent on renewable (solar, wind, water) and bio-energy (waste from food &amp; animals). Removing taxation on such initiatives.
        <br>
        <em>You should know that renewable energy (solar, wind, water) is the cheapest source of energy.</em>
      </p>
      <p><strong>Goal 8: Decent work &amp; Economic growth</strong>
        <br> Create enablers for organizational development. Revise the education curriculum to meet current and future industry needs. Reduce entry level requirements for farming and technical jobs. Develop industry, infrastructure and innovation hubs in all parts of the country and continent. Connect all regions to electricity, water, sanitation, broadband, internet and forestry services to create conducive environments for investment. Encourage and support entrepreneurs to start, pilot, and expand their businesses so they can move to other regions and increase employment. Motivate employers to reward and recognize employees at all levels within the organizations. Continue easing ways of doing business. Provide ways for scalable innovations to suit political, economic, social, environmental, technical and legal factors.
        <br>
        <em>You should think long-term but focus on one idea at a time to generate income.</em>
      </p>
      <p><strong>Goal 9: Industry, Innovation and Infrastructure</strong>
        <br> Promote all-inclusive and sustainable industrial development. Promote technology as a tool, not as a mean, for industry development. Link industry to education, information and markets. Set up basic infrastructure like roads, information &amp; communication technology, water, sanitation, electricity in developing countries. Provide ways for scalable innovations to suit political, economic, social, environmental, technical and legal factors.
        <br>
        <em>You should work with industry to make innovation and infrastructure a possible reality.</em>
      </p>
      <p><strong>Goal 10: Reduced inequalities</strong>
        <br> Distribute funding fairly among regions and countries, depending on the income (GDP) level and population. Encourage youth and urban dwellers to invest back in rural homes. Encourage those living in the diaspora to invest in their home countries. Continue promoting devolution, as the greatest way to reduce inequalities. Prevent corruption by leaders at all levels. Promote each county, country, region, and continent uniquely.
        <br>
        <em>You should never underestimate the less fortunate. We are all equal before the Creator.</em>
      </p>
      <p><strong>Goal 11: Sustainable cities &amp; communities</strong>
        <br> Continue improving access to health, sanitation, water, food, security and infrastructure in urban centers. Create a city in every county. Improve cities as innovation hubs for education, art, transport, commerce, culture, science, and social development. Increase adequate housing, markets, hospitals, schools and religious centers. Control pollution, set up sewerage systems, recycle waste, utilize clean energy, rehabilitate water sources, and develop forest parks for environmental conservation.
        <br>
        <em>You should love, nurture and own your town, by keeping it clean and correcting all forms of crime.</em>
      </p>
      <p><strong>Goal 12: Responsible consumption and production</strong>
        <br> Ensure sustainable consumption and production patterns. Promote sustainability among both producers and consumers of fashion, food, energy, water and other household items.
        <br>
        <em>You should not buy something you don’t know what it’s made of.</em>
      </p>
      <p><strong>Goal 13: Climate Action</strong>
        <br> Talk about climate action in every sector. Instill climate action into the education curriculum and entertainment programs. Use a wide array of technological measures to reduce emissions. Standardize production to meet certification of carbon footprint reduction. Train on behavioral and lifestyle changes to reduce emissions drastically. Continue offering free courses on climate action – mitigation and adaptation methods.
        <br>
        <em>You should enroll for a free online course on climate action, learn and decide how to reduce footprints. </em>
      </p>
      <p><strong>Goal 14: Life below water</strong>
        <br> Safeguard biodiversity in water. Reduce pollution and destruction of coastal habitats. Rear fisheries and other marine biodiversity using eco-friendly formats. Utilize marine plants like hyacinth for feeding marine animals, and for producing bio-energy useful in the coastal livelihoods.
        <br>
        <em>You should know that oceans, seas, lakes, glaciers and dams provide &amp; regulate rainfall, drinking water, weather, climate, oxygen, beaches, and nutritious food.</em>
      </p>
      <p><strong>Goal 15: Life on land</strong>
        <br> Promote forestry as a catalyst for sustainable agriculture, recreation, education, health, water and industrial development for economic growth. Inform the importance of indigenous trees towards safeguarding life and reducing carbon emissions. Uphold laws and strict measures against those who destroy trees. Use and safely dispose off bio-products during farming.
        <br>
        <em>You should plant as many trees as you can and let animals, plants, insects live where they belong.</em>
      </p>
      <p><strong>Goal 16: Peace, Justice and Strong institutions</strong>
        <br> Mutually respect &amp; promote the rule of the law and development as interrelated factors to meet every one of the other goals.
        <br>
        <em>You should understand your constitution, and always share sentiments fairly and publicly to sort them fairly.</em>
      </p>
      <p><strong>Goal 17: Partnerships for the goals</strong>
        <br> Review strategies at local, national, regional and international levels among political, social and business organizations; make these strategies all-inclusive.
        <br>
        <em>You should share your ideas/innovations wisely with anyone (family, friends, colleagues, investors, government) who can help you make it happen.</em>
      </p>
      <p>&nbsp;</p>
      <p>Reference: <a href="http://www.un.org/sustainabledevelopment/sustainable-development-goals/">http://www.un.org/sustainabledevelopment/sustainable-development-goals/</a>
      </p>
      <p>&nbsp;</p>
      <p><em><strong>AblePursuit is a customer relations outfit for businesses looking for markets. </strong></em>
      </p>
      <p><em><strong>We also recommend development agencies, social institutions and government as associates, clientele or investors.<br>
      </strong></em>
      </p>
    </div>
  </div>
</div>