/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require select2
 *= require select2-bootstrap
 *= require pnotify
 *= require_tree .
 *= require_self
 */

@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i');

* {
    font-family: Roboto;
  }

  {
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
    color: rgba(37, 51, 70, .9);
    border:1px solid rgba(37, 51, 70, .9);
  }
  img:hover {
    opacity: 0.8;
}

html, body {
  height: 100%;
  width: 100%;
}

ul {
  list-style: none;
}

/* Search button */
.input-group-btn > .btn.btn-default {
  background-image: url('https://static.glassdoor.com/static/img/home/icon-search-white.svg?v=45f04c1x6');
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #0CAA41;
  border-color: transparent;
  height: 55px;
  width: 60px;
}

.input-group-btn > .btn.btn-default:hover {
  background-color: #007549;
}

input.form-control {
  border-color: transparent;
  height: 55px;
}

/* container */
@media only screen and (max-width: 1078px) {
  #show-search {
    display: none;
  }
}
.container {
  color: rgba(37, 51, 70, .9);
}
.container > h2 {
  padding: 20px 0;
}

.container > .row {
  padding-bottom: 140px;
}

.container > .row > .col-md-4 {
  padding-bottom: 30px;
}

.my-box {
  height: 445px;
  width: 100%;
  border: 2px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.2);
  overflow: hidden;

  text-align: justify;
  font-size: 15px;
}

.cell-body {
  padding: 20px;
}

.cell-body > h4 {
  font-size: 18px;
  line-height: 1.33;
  color: #0d0d0d;
  font-weight: bold;
  margin: 0;
  height: 20px;
  display: block;
}

.cell-body > p {
  height: 130px;
  margin-top: 10px;
}

.btn.btn-default {
  background-color: #0CAA41;
  width: 100%;
  display: inline-block;
  border-radius: 2px;
  line-height: 1.33;
  padding: 13px 0;
  overflow: hidden;
}

.btn:hover, .input-group-btn > button {
  background-color: #007549;
  transition: translateZ(0);
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

a.btn.btn-default > span {
  color: white;
  font-size: 18px;
  border-radius: 2px;
  text-align: center;
  font-weight: bold;
}

/* navbar & header */

.navbar-custom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  font-family: 'Roboto';
  color: rgba(37, 51, 70, .9);
}
.navbar-custom .navbar-brand {
  font-weight: 800;
  font-family: 'Roboto';
  color: rgba(37, 51, 70, .9);
}
.navbar-custom .navbar-header .navbar-toggle {
  color: #777777;
  font-weight: 800;
  font-size: 12px;
  font-family: 'Roboto';
  color: rgba(37, 51, 70, .9);
}
.navbar-custom .nav li a {
  font-size: 15px;
  font-weight: 800;
  letter-spacing: 1px;
  font-family: 'Roboto';
  color: rgba(37, 51, 70, .9);
}

.navbar-custom .nav li a:hover {
  background: rgba(0, 0, 0, 0.4);
}

/*category*/

.scrollable-menu {
  height: auto;
  max-height: 250px;
  overflow-x: hidden;
  color: rgba(37, 51, 70, .9);
}

.col-lg-8 > p {
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
  color: rgba(37, 51, 70, .9);
}

.navbar-brand, .navbar-right  {
  margin-left: 0px!important;
  margin-right: 0px!important;
}

@media only screen and (min-width: 768px) {
  .navbar-custom {
    background: transparent;
    border-bottom: 1px solid transparent;
  }
  .navbar-custom .navbar-brand {
    color: white;
    padding: 20px;
    font-size: 21px;
  }
  .navbar-custom .navbar-brand:hover,
  .navbar-custom .navbar-brand:focus {
    color: rgba(255, 255, 255, 0.8);
  }
  .navbar-custom .nav li a {
    color: white;
    padding: 20px;
  }
  .navbar-custom .nav li a:hover,
  .navbar-custom .nav li a:focus {
    color: rgba(255, 255, 255, 0.8);
  }
  .navbar-custom .nav li ul.dropdown-menu a {
    color: #333333;
  }
  .navbar-custom .nav li ul.dropdown-menu a:hover,
  .navbar-custom .nav li ul.dropdown-menu a:focus {
    color: #0085A1;
  }
}
@media only screen and (min-width: 1170px) {
  .navbar-custom {
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .navbar-custom.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -61px;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #f2f2f2;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  .navbar-custom.is-fixed .navbar-brand {
    color: #333333;
  }
  .navbar-custom.is-fixed .navbar-brand:hover,
  .navbar-custom.is-fixed .navbar-brand:focus {
    color: #0085A1;
  }
  .navbar-custom.is-fixed .nav li a {
    color: #333333;
  }
  .navbar-custom.is-fixed .nav li a:hover,
  .navbar-custom.is-fixed .nav li a:focus {
    color: #0085A1;
  }
  .navbar-custom.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}


/* header */

.intro-header {
  background-color: #777777;
  background: no-repeat center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 550px;
  

	/**parallax feature**/
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
  padding: 100px 0 50px;
  color: white;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading,
  .intro-header .post-heading,
  .intro-header .page-heading {
    padding: 150px 0;
  }
}
.intro-header .site-heading,
.intro-header .page-heading {
  text-align: center;
}
.intro-header .site-heading h1,
.intro-header .page-heading h1 {
  margin-top: 0;
  font-size: 50px;
}
.intro-header .site-heading .subheading,
.intro-header .page-heading .subheading {
  font-size: 24px;
  line-height: 1.1;
  display: block;
  font-family: 'Roboto';
  font-weight: 300;
  margin: 10px 0 0;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading h1,
  .intro-header .page-heading h1 {
    font-size: 80px;
  }
}
.intro-header .post-heading h1 {
  font-size: 35px;
}
.intro-header .post-heading .subheading,
.intro-header .post-heading .meta {
  line-height: 1.1;
  display: block;
}
.intro-header .post-heading .subheading {
  font-family: 'Roboto';
  font-size: 24px;
  margin: 10px 0 30px;
  font-weight: 600;
}
.intro-header .post-heading .meta {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
}
.intro-header .post-heading .meta a {
  color: white;
}
@media only screen and (min-width: 768px) {
  .intro-header .post-heading h1 {
    font-size: 55px;
  }
  .intro-header .post-heading .subheading {
    font-size: 30px;
  }
}



/** Footer Css ** frm template **/
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}


/** image in show page **/
.show-image {
  background-color: #f1f1f1;
  width: 900px;
  height: 300px;
}

/** About us page **/
header.about-header {
  opacity: 0.9;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header.about-header > .container {
  position: relative; 
  background: transparent;
}


.thumbnail {
  display: block;
  padding: 4px;
  background-color: transparent;
  border: none;
  margin-top: 130px;
}

.thumbnail > .caption > h3 {
  color: #fff;
  font-size: 90px;
  font-family: 'Roboto';
  letter-spacing: 1px;
  font-weight: bold;
  line-height: 1.1;
  text-align: center;
}

.thumbnail > .caption > div > p {
  color: #fff;
  text-align: center;
  font-size: 21px;
  font-family: 'Roboto';
}

.mbr-article {
  color: #777;
  font-size: 17px;
  line-height: 27px;
  position: relative;
  margin-top: -21px;
  top: 14px;
  text-align: justify;
}

.mbr-article--wysiwyg blockquote {
  font-size: 17px;
  border-color: #f97352;
  margin: 0 0 10px 0;
}

.mbr-figure__img {
  width: 100%;
}

.mbr-figure__caption {
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  color: #fff;
  display: block;
  font-size: 17px;
  left: 0;
  line-height: 1.3em;
  min-height: 53px;
  padding: 17px 20px;
  position: absolute;
  text-align: left;
  width: 100%;
}

.mbr-figure--full-width {
  display: block;
  width: 100%;
}

.mbr-figure {
  display: inline-block;
  line-height: 1px;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

.mbr-figure__caption-small {
  display: block;
  font-size: 14px;
  line-height: 1.3em;
}

.entry-content {
  text-align: justify;
  color: #777;
  font-size: 15px;
  line-height: 27px;
}

/* Back to top navigation */
#go-top {
  background: none repeat scroll 0 0 #0CAA41;
  border-radius: 2px;
  bottom: 20px;
  color: white;
  height: 40px;
  width: 40px;
  position: fixed;
  right: 10px;
  text-align: center;
  opacity: 0.8;
}

#go-top > a {
  color: inherit;
  text-decoration: none;
}


.round{
  border-radius:5px;
}

.stack-bar-top{
  top: 50px;
}

/*
* Display a loading icon until the page loads completely 
* http://smallenvelop.com/display-loading-icon-page-loads-completely
*/
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(/loader-64x/Preloader_3.gif) center no-repeat #fff;
}